language: node_js
dist: xenial
node_js:
  - "0.10"
  - "0.12"
  - "4"
  - "6"
  - "8"
  - "10"
  - "12"
before_install:
  sudo apt update && sudo apt install build-essential pkg-config libsystemd-dev
